
<div class="row">
    <div class="col-md-9">
        <div id="search" class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text"   ng-model="query" class="form-control input-lg" placeholder="Search Patient Info" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        
   

    <div class="col-md-3">
        <button id="adddetails" class="btn-primary" ui-sref="patientInfo">Add Patient Details</button>
    </div>

    
</div>   


<div id="tablep">
    <table class="table table-bordered">
    <thead>
        <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Text Information</th>   
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in details | filter:query">
        <th scope="row">{{$index+1}}</th>
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.age}}</td>
        <td>{{data.dob.substr(0,10)}}</td>
        <td>{{data.gender}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.fti}}</td>
        </tr>
    </tbody>
    </table>
</div>

