  <div id="patientform">    
    <form name="patients" ng-submit="submit(patients.$valid)" novalidate>
         <div class = "row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="firstname">Patient's First Name</label>
                    <input name="firstname" ng-model="formdata.firstname" required type="text" class="form-control"  placeholder="Enter Patient's First Name">
                     <p class="errormsg" ng-show="formSubmitted && patients.firstname.$invalid">First name is required.</p>
                </div>
            </div> 
            <div class="col-lg-6">
                 <div class="form-group">
                    <label for="lastname">Patient's Last Name</label>
                    <input name="lastname" ng-model="formdata.lastname" required type="text" class="form-control"  placeholder="Enter Patient's Last Name">
                    <p class="errormsg" ng-show="formSubmitted && patients.lastname.$invalid">Last name is required.</p>
                </div>
            </div>    
           </div>  
           <div class = "row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="age" >Patient's Age</label>
                    <input name="age" ng-model="formdata.age" required min="1" ng-maxlength="3" type="number" class="form-control"  placeholder="Enter Patient's Age">
                    <p class="errormsg" ng-show="formSubmitted && patients.age.$invalid">Age is required.</p>
                </div>
            </div> 
            <div class="col-lg-6">
                 <div class="form-group">
                    <label for="dob">Patient's Date Of Birth</label>
                    <input name="dob" ng-model="formdata.dob" required  type="date" class="form-control"  placeholder="Enter Patient's Date Of Birth">
                    <p class="errormsg" ng-show="formSubmitted && patients.dob.$invalid">Date of Birth is required.</p>
                </div>
            </div>    
           </div>  
           <div class = "row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="gender">Select Patient's gender</label>
                    <select name="gender" ng-model="formdata.gender" required class="form-control" id="exampleSelect1">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                    </select>
                     <p class="errormsg" ng-show="formSubmitted && patients.gender.$invalid">Gender is required.</p>
                </div>
            </div> 
            <div class="col-lg-6">
                 <div class="form-group">
                    <label for="phone" >Patient's Phone Number</label>
                    <input name="phone" ng-model="formdata.phone" required  ng-maxlength="10" ng-minlength="10" type="text" class="form-control"  autocomplete="off"  placeholder="Enter Patient's Phone Number">
                    <p class="errormsg" ng-show="formSubmitted && patients.phone.$invalid ">Phone Number is required.</p> 
                    <p class="errormsg" ng-show="patients.phone.$error.maxlength || patients.phone.$error.minlength && patients.phone.$dirty && !formSubmitted">Phone Number Should be valid.</p> 
                </div>
            </div>    
           </div>  
        <div class="form-group">
            <label for="exampleTextarea">Text Information</label>
            <textarea name="text" ng-model="formdata.fti" required class="form-control" id="textInfo" rows="3"></textarea>
            <p class="errormsg" ng-show="formSubmitted && patients.text.$invalid">Text Information is required.</p> 
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-lg-6">
                 <button id="submitButton" ui-sref="patientDetails" type="submit" class="btn btn-primary">Patient's Directory</button>
            </div>    
        </div>   
    </form>
   </div> 